#title-bar {
  height: 55px;
  width: 100%;
  background-color: #1e0e33; 
  color: #f8f8f8;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  line-height: 50px;
  width: 100%;
}
#form-container {
  height: calc(100% - 50px - 25% - 63px);
  width: 80%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: 25%;
  left: 10%;
}
#table-container {
  height: calc(100% - 50px - 10% - 63px);
  width: 90%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: 10%;
  left: 5%;
}
#apiKey {
  background-image: url(https://mapzen.com/common/styleguide/images/key.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 6px 10px;
  padding: 8px 30px 8px 45px;
  text-align: center;
  min-width: 100%;
}
.data-file {
  background-image: url(../dist/inputFile.svg);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-position: 6px 9px;
  padding: 8px 30px 8px 45px;
  text-align: center;
  min-width: 100%;
}
.button-icons {
  font-size: 2em;
  margin-right: 8px;
  vertical-align: middle;
}
.table-cell {
  text-align: left;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 4px;
  margin-bottom: 4px;
}
html,body{margin: 0; padding: 0;}